.venv/
__pycache__/
*.pyc
backend/.env
backend/*.db
backend/app/static/uploads/*
!backend/app/static/uploads/.gitkeep
admin_panel/node_modules/
admin_panel/dist/
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/.packages
mobile_app/build/
mobile_app/.metadata
mobile_app/android/.gradle/
mobile_app/ios/Pods/
temp_flutter_shell/
